.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #383120;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  background-color: #fdcc00;
  color: #878787;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #383120;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}
.Weather .temperature {
  color: #090a07;
  font-size: 64px;
  line-height: 64px;
  font-family: 400;
}
.Weather .unit {
  color: #090a07;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -32px;
  margin-left: 5px;
}

.btn {
  background-color: #c7b897;
  color: #fdcc00;
}
